*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}

:is(body) {

    font-family: "Inter", sans-serif;
    background-color:#332234;
    color:#9E8BA0;
    animation: fader ease 4s;
animation-iteration-count: 1;
animation-fill-mode:forwards;
}

/* Navbar and Footer Styling */
:is(.navbar, footer) {
    background-color:#543656;
}

.navbar {

position: -webkit-sticky;
position:sticky;
top:0;
}
:is(.nav-link) {

    color:white;
    }
    
    .nav-link:hover {

color:#9d5ea2;
text-decoration: underline;


    }
    /* Animations */

    @keyframes fader {

        0% {
        opacity:0

        }
        100% {

            opacity:1;
        }
    }
   
    /* image styling */
    img[alt="LandingPagePhoto"] {
height:30rem;
        width:30rem;
        object-fit:cover;
        object-position:center;
    
        }
    img[alt="logo"] {

    width:9rem;
    object-fit:cover;
    object-position:center;

    }
    img[alt="AboutPhoto"] {
        height:31rem;
                width:31rem;
                object-fit:cover;
                object-position:center;

    }
    /*  */
    .nav-link:active {

        color:#2a1b2b;

    }

    /* About Me Styling */
    #AboutMe {
        background-color:#472E49;
        padding:20px;

    }
    #AboutMe p {
background-color:#332234;
width:48rem;
padding:20px;



    }



    


    .dropdown-menu {

        background-color:#543656;
    }
    .dropdown-item {
    
        color:white;
    }

    h1 ~ h2 {

font-weight:lighter;
    }

    /*  */