*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}

:is(body) {

    font-family: "Inter", sans-serif;
    background-color:#332234;
    color:#9E8BA0;
    animation: fader ease 5s;
animation-iteration-count: 1;
animation-fill-mode:forwards;
animation-direction:alternate;
}

/* Navbar and Footer Styling */
:is(.navbar, footer) {
    background-color:#543656;
}
a {

    text-decoration:none;
}



.navbar {

position: -webkit-sticky;
position:sticky;
top:0;
z-index:9999;
}

:is(.nav-link) {

    color:white;
    }
    
    .nav-link:hover {

color:#9d5ea2;
text-decoration: underline;


    }
    /* Animations */

    @keyframes fader {

        0% {
        opacity:0;
        background-color:#251627;
        }
       
        100% {
           
            opacity:1;
            
        }
    }
   @keyframes SkimageAnim {
   from {

    opacity:0
   }
to {

    opacity:1
}

   }

   /* @keyframes LandingAnim { 
   0% {
   
color:white;
content: "Learner";

   }
   50% {
   
    color:white;
    content: "Coder";
   }

100% {
   transform::rotate(3 3);
  color:orangered;
    content: "Developer";


}
*/
   
    /* image styling */
    img[alt="LandingPagePhoto"] {
height:30rem;
        width:30rem;
        object-fit:cover;
        object-position:center;
    
        }
    img[alt="logo"] {

    width:9rem;
    object-fit:cover;
    object-position:center;

    }
    img[alt="AboutPhoto"] {
        height:20.5rem;
                width:20.5rem;
                object-fit:cover;
                object-position:center;

    }
    /*  */
    .nav-link:active {

        color:#2a1b2b;

    }

    /* About Me Styling */
    #AboutMe {
        background-color:#472E49;
        padding:20px;

    }
    #AboutMe p {
background-color:#332234;
width:48rem;
padding:20px;



    }

/* Resume Styling */

#ResumeCon {

    background-color:#472E49;
    padding:20px;

}
#Block {

    background-color:#4C314D;
    padding:20px;

}
.btn {

background-color:#332234;
color:#9E8BA0;
box-shadow:2px 2px 5px #332234;


}
.btn:hover {

    background-color:#251627;;
 color:white;

 &:active {

    color:white;
 }
}
    /*  */
 /* Skills Styling */ 

 .SkillsCon {

    background-color:#472E49; 

 }

 .ListBG {

    background-color:#332234;
 }
 .Skillmages {

background-color:#281A29;
height:auto;
 }
img[alt="Skimage"] {
    height:4rem;
            width:4rem;
            object-fit:cover;
            object-position:center;
            animation-name:SkimageAnim;
            animation-duration:4s;
            animation-iteration-count: infinite;
            animation-direction:alternate;
         
}
/* Education Styling */ 

.EduCon {

 background-color:#472E49; 

}
img[alt="Eduimage"] {
  
    object-fit:cover;
    height:15rem;
    width:100%
        
         
}
h3.card-title {

    font-weight:lighter;
}
.card-body {

    background-color:#332234;
    color:#9E8BA0;


}
.card-text {
    background-color:#1f121f;
/*  #271727;  */
}
.card {
    opacity:0.5;
    transition:2s;
}
.card:hover {

    transform:scale(1.1,1.1);
opacity:1;


}
/* Work Experience Styling */

.WorkCon {

background-color:#472E49; 


}
.list-group-item {

    background-color:#281A29;
   color:#9E8BA0;
   border-color:fuchsia;
}

/*  */

/* Project Styling */

.ProCon {

    background-color:#472E49; 

}
img[alt="Proimage"] {
  
    object-fit:cover;
    object-position:center;
    height:15rem;
    width:100%
        
         
}
.btnPro {

    background-color:#1f121f;;
color:#9E8BA0;
box-shadow:2px 2px 5px #332234;
border:none;
padding:5px;
width:4rem;
&:hover {
    background-color:#251627;
    color:white;

}



&:active {

   color:white;
}

}

h3 {


    
}

    h1 ~ h2 {

font-weight:lighter;
    }

    /*  */